@(title: String)
@main(title){
    <div class ="container">
      <h3>Password Reset</h3>
      <form name ="form2" method ="post" class="form horizontal" action ="/resettingOfPasword">

        <div class ="row">
          <div class = "col-sm-6">
            <div class = "form-group">
              <label for ="name" class ="label label-default">Name:</label>
              <input type ="text" name="username" id ="name"class ="form-control" value="">

            </div>
          </div>
        </div>

        <div class ="row">
          <div class = "col-sm-6">
            <div class = "form-group">
              <label for ="pin" class="label label-default">Pin:</label>
              <input type ="text" name="pin" id="pin" class ="form-control" value="">
            </div>
          </div>
        </div>

        <br /><br />
        <button type="submit" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-plus"> Submit</i></button>
          <!-- <a href="home.html"><input type = "submit" value="submit" class="btn btn-primary"></a> -->
      </form>

    </div>
}